
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', 'sans-serif';
}

:root {
    --bg-color: lch(19.5% 0.47 19.08);
    --second-bg-color: oklab(0% 0 0);
    --text-color: hsl(0, 38%, 92%);
    --main-color: lab(61.79% -42.46 9.59);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);    
    /* display: flex; */

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 15%;
    background-color: var(--second-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}
header nav a {
    color: var(--text-color);
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: default;
    opacity: 0.8;
    transition: .3s ease-in-out;
}
.logo:hover {
    opacity: 1;
}

.btn {
    padding: 0.5rem 1rem;
    color: var(--text-color);
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    border: 2px solid var(--text-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

span {
    background: linear-gradient(to right, purple, blue 50%, green);
    background-clip: text;
    color: turquoise;
}

section{
    min-height: 100vh;
    padding: 5% 15%;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: var(--text-color);
}

#home img{
    width: 20vw;
    border-radius: 50%;
    margin-top: 3rem;
}

.home-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    max-width: 600px;
}

.home-content h1{
    font-size: 5rem;
    font-weight: 500;
}

.home-content h3{
    font-size: 2rem;
    font-weight: 400;  
}

.home-content p{
    font-size: 1.6rem;
    opacity: 0.7;
}

.btn-box{
    display: flex;
    gap: 1rem;
}

.btn-box .btn:nth-of-type(2){
    background-color: white;
    color: var(--bg-color);
}

.btn-box .btn:nth-of-type(2):hover{
    background-color: var(--bg-color);
    color: white;
}


.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease-in-out;
}

.social-media a:hover{
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

::-webkit-scrollbar{
    width: 20px;
    background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, purple, blue 50%, green);
}

#about{
    background-color: var(--second-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

#about img{
    width: 30vw;
    border-radius: 2rem;
}

.about-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2rem;
}
.about-content h1{
    font-size: 5rem;
}

.about-content h2 span{
    font-size: 3.5rem;
    gap: 2rem;
}

.about-content p{
    color: var(--text-color);
    opacity: .8;
    font-size: 1.6rem;
    font-weight: 400;

}

.skills{
    display: flex;
    text-align: left;
    gap: 10rem;
}

.skills ul{
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    opacity: .8;
    align-items: baseline;
}

.skills ul li span{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.3rem;
    transition: 0.3s ease-in-out;
}

.skills ul li span:hover{
    transform: translate(10px);
}

.skills ul li box-icon{
    font-size: 1.2rem;
}

.about-content h2{
    font-size: 2.5rem;
}
#services{
    background-color: var(--second-bg-color)
}
.head{
    text-align: center;
    font-size: 5rem;
    margin: 0.5rem 0;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 5rem;
}
.box{
    border: 3px solid rgb(49, 49, 49);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    padding: 3rem;
    gap: 2rem;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.box:hover{
    border: 3px solid rgb(100, 100, 100);
}
.box p{
    opacity: 0.8;
}
.box h1{
    font-size: 2rem;
}
.box img{
    min-width: 25px;
    border-radius: 0.5rem;
}

.porfolio{
    background-color: var(--second-bg-color);
}
.porfolio h2{
    margin-bottom: 4rem;
    text-align: center;
    font-size: 5rem;
}
.porfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.porfolio-container .porfolio-box{
    position: relative;
    border: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.porfolio-box img{
    width: 100%;
    transition: .5s ease-in-out;
}
.porfolio-box:hover img{
    transform: scale(1.1);
}
.porfolio-box .porfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb 0, 0, 0, .1 ), var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease-in-out;
}
.porfolio-box:hover .porfolio-layer{
    transform: translateY(0);
}


.porfolio-layer h4{
    font-size: 3rem;
}
.porfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.porfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}
.porfolio-layer a box-icon{
    font-size: 2rem;
    color: var(--second-bg-color);
}

/*    Contact      */
.contact h2{
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}
.contact p{
    font-size: 2rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact form .input-box input,
.contact form input{
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 10%;
}
.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}
#msg{
    display: block;
    text-align: center;
    align-items: center;
    margin-top: -2rem;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer-text p{
    font-size: 1.6rem;
}
.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease-in-out;
}
.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a box-icon{
    font-size: 2.4rem;
    color: var(--main-color);
}

/*   BREAKPOINTS   */

@media(max-width:1200px){
    html {
        font-size: 55%;
    }
}

@media(max-width:991px){
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services{
        padding-bottom: 7rem;
    }
    .porfolio{
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media(max-width:778px){
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home img{
        width: 70vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about img{
        width: 70vw;
        margin-top: 4rem;
    }
    .services h1{
        margin-bottom: 3rem;
    }
    .porfolio h2{
        margin-bottom: 3rem;
    }
    .porfolio-container{
        grid-template-columns: repeat(2, 1fr);
    }
} 

@media(max-width:617px){
    .porfolio-container{
        grid-template-columns: 1fr;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .contact form .input-box input{
        width: 100%;
    }
}

@media(max-width:365px){
    .home img{
        width: 90vw;
    }
    .about img{
        width: 90vw;
    }
    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}
